body {
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 600px;
    color: black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.268) 5px 5px 5px 5px;
    padding: 40px;
}

button {
    padding: 5px;
    background-color: #3ABF9A;
    border-radius: 10px;
    border:  none;
}

li {
    list-style-type: none;
}
